.Section{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;

    // h1{
    //     font-family: 'Roboto';
    //     font-weight: 900;
    //     font-size: 40px;
    //     text-transform: uppercase;
    //     text-align: center;
    // }
}